@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body{
    font-family: 'Montserrat', sans-serif;

    margin: 0;
    padding: 0;
}

/* Estilos CSS para el encabezado */
header {
    color: transparent;
	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
   
}



/* Estilos CSS para el menú de navegación */
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #d8d8d8;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	transition: color 0.3s ease;
}

nav a:hover {
	color: #47B2E4;
}



main {
    margin: 50px auto;
    max-width: 2000px;
    margin-top: 8em;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    width: 30%;
    background: linear-gradient(to right, #ff4800, #003866b0, #00000096);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

article:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
    margin: 20px;
    font-size: 24px;
}

p {
    margin: 0 20px 20px;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

a {
    display: block;
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 20px;
}

a:hover {
    background-color: #000000;
}

.h2Players{

color: white;

}
.Linea{

width: 50%;
border-color: #4f9a9c;
}

.patrocinadores {
    padding: 20px;
    background-color: #ffffff;
  }
  
  .patrocinadores h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .patrocinadores-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .patrocinadores-container img {
    margin: 20px;
  }
 .JugadoresM{

text-align: center;
color: white;


 } 

 img {
    transition: transform 0.3s ease-in-out;
}
img:hover {
    transform: scale(1.1);
}